@charset 'UTF-8';

/* Off Canvas Style */

[off-canvas] {
    background: $pri-color;
    border-right: solid 1px $border-color;
}


/* Animation */

.fade-in-up,
.fade-in {
    opacity: 0;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    opacity: 1;
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    opacity: 1;
}

.fadeOut {
    animation-name: fadeOutDown;
    animation-duration: 1s;
} 


/* Readmore */
.readmore {
    display: flex;
    align-items: center;
    margin: 3vh 0 0 25vw;
    max-width: 75%;
    &.-dowload{
        margin: 0;
        float: right;
    }
   
    .line {
        width: 100px;
        height: 1px;
        background: #999;
    }
    .text {
        white-space: nowrap;
        margin-right: 10px;
        font: 700 normal 1rem $pri-font;
        color: #000000;
    }
    .no-title{
        white-space: nowrap;
        margin-left: 10px;
        font: 700 normal 3rem $pri-font;
        color: $pri-color;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: solid 2px #999;
            content: '';
            transform: translateY(-50%);
            top: 50%;
            left: -30%;
            right: 0;
            bottom: 0;
        }
    }
}




/* Number-Title */
.number-title {
    display: flex;
    align-items: center;
    margin: 0;
    max-width: 75%;
   
    .line {
        width: 150px;
        height: 1px;
        background: #9b9b9b;
    }
    .text {
        white-space: nowrap;
        margin-left: 45px;
        font: 400 normal 1rem $pri-font;
        letter-spacing: 0.2em;
        color: #9b9b9b;
    }
    .no-title{
        white-space: nowrap;
        padding: 0 0 0 17px;
        font: 700 normal 3rem $pri-font;
        color: #9b9b9b;
        position: relative;
        &.-blue{
            color: $pri_color; 
        }
        &:before {
            display: block;
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: solid 1px #9b9b9b;
            content: '';
            transform: translateX(1%);
            margin: -17px auto;
            top: 0;
            left: 0;
            right: 0;
            bottom:0;

        }
    }
}




/*Parallax */
.parallax-window {
    padding:  0;
    min-height: 75vh;
    background: transparent;
}


/*Hr*/

hr {
    margin: 2vh 8vw ;
    background: #dbdbdb;
    border: none;
    height: 2px;
    &.line-vertical{
        position: absolute;
        width:1px; 
        margin: 0px auto;
        left: 0;
        right: 0;
        background: #dbdbdb;
        border: none;     
        height:90%;
        background: #d3d3d3;
    }
}

